<!DOCTYPE html>
<html>
<head>
    <title>联系我们</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="__PUBLIC__/css/bootstrap.css" rel='stylesheet' type='text/css' />
</head>
<body>
<section class="section-main">
    <div class="container">
        <div class="row">
            <h2 class="page-heading">联系我们</h2>
            <form method="post" role="form">
                <div class="form-group">
                    <label>用户名</label>
                    <input name="username" type="text" class="form-control" placeholder="请输入用户名" />
                </div>
                <div class="form-group">
                    <label>反馈信息</label>
                    <input name="feedback" type="text" class="form-control" placeholder="请输入反馈信息" />
                </div>
                <button type="submit" class="btn btn-primary">提交</button>
            </form>
        </div>
    </div>
</section>
</body>
</html>