<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>是否修改</title>
    <link href="__PUBLIC__/css/admin.css" rel="stylesheet" />
    <script src="__PUBLIC__/js/jquery-3.4.1.js"></script>
</head>
<body>
<div class="login_box">
    <form method="post">
        <h1>修改动态</h1>
        <table>
            <tr><th width="80">动态id：</th><td><input type="text" name="id"></td></tr>
            <tr><th>动态题目：</th><td><input type="text" name="title"></td></tr>
            <tr><th>动态内容：</th><td><textarea name="content"></textarea></td></tr>
            <tr><td>&nbsp;</td><td><input class="login_btn" type="submit" value="确认" /></td></tr>
        </table>
    </form>
</div>
</body>
</html>